@model Product
<div>
    <p>
        @Model.Name isimli Ürünü Silmek İstiyor musunuz ?
        <form action="" method="Post">
        <input type="hidden" asp-for="@Model.ProductId">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a href="/Home" class="btn btn-primary">Hayır</a>
        </form>
    </p>
</div>